html{
height:100%;
}
@font-face{
font-family:'Oswald';
src:url('../fonts/oswald-regular-webfont.eot') format('embedded-opentype'),url('../fonts/oswald-regular-webfont.woff') format('woff'),url('../fonts/oswald-regular-webfont.ttf') format('truetype'),url('../fonts/oswald-regular-webfont.svg') format('svg');
}
@font-face{
font-family:'Oswald-Bold';
src:url('../fonts/oswald-bold-webfont.eot') format('embedded-opentype'),url('../fonts/oswald-bold-webfont.woff') format('woff'),url('../fonts/oswald-bold-webfont.ttf') format('truetype'),url('../fonts/oswald-bold-webfont.svg') format('svg');
}
@font-face{
font-family:'Oswald-Light';
src:url('../fonts/oswald-light-webfont.eot') format('embedded-opentype'),url('../fonts/oswald-light-webfont.woff') format('woff'),url('../fonts/oswald-light-webfont.ttf') format('truetype'),url('../fonts/oswald-light-webfont.svg') format('svg');
}
body{
height:100%;
margin:0;
padding:5px;
font-family:'Oswald','Open Sans','Arial'; 
color: #FFF;
background: #10719E;
font-size:16px;
}
div.ant-header{
padding:30px;
font-size: 3em;
font-family:'Oswald-Light','Open Sans','Arial';
text-shadow: 2px 2px 2px #333333;
}
div.ant-subheader{
font-size: 16px;
text-shadow: 1px 1px #000;
}
.ant-font-medium{
font-size:1.5em;
}
.ant-social-links{
padding-top:30px;
}
.ant-social-links a{
padding:10px;
}
.ant-center{
text-align: center;
}
.ant-pointer{
cursor:pointer;
}
.ant-tpadding10{
padding-top:10px;
}
.fa.ant-hover:hover{
color:#000;
}
.ant-link{
color: #FFF;
text-decoration:none;
}
